body{
    margin-top: 100px;
    text-align: center;
}

.area-imagem {
    margin-bottom: 10px;
}

#ligar {
    width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 2px 2px 4px #888;
    cursor: pointer;
}

#desligar {
    width: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 2px 2px 4px #888;
    cursor: pointer;
}

.alteraLampada {
    display: inline-flex;
}